<div class="topnav">
  <a href="#">
    <img src="../assets/images/nav-logo.png" class="nav-logo" />
  </a>
  <a
    sbb-menu-item
    routerLink="."
    routerLinkActive="sbb-active"
  >
    <sbb-icon svgIcon="kom:globe-small"></sbb-icon>
    Englisch
  </a>

  <a
    sbb-menu-item
    routerLink="."
    routerLinkActive="sbb-active"
  >
    <sbb-icon svgIcon="kom:user-small"></sbb-icon>
    Sign in
  </a>
  <a
    sbb-menu-item
    routerLink="."
    routerLinkActive="sbb-active"
  >
    <sbb-icon svgIcon="kom:tickets-class-small"></sbb-icon>
    Buy
  </a>
  <a
    sbb-menu-item
    routerLink="."
    routerLinkActive="sbb-active"
  >
    <sbb-icon
      svgIcon="kom:magnifying-glass-large"
      class="sbb-icon-fit"
    ></sbb-icon>
    Search
  </a>
</div>
<div class="navtwo">
  <button class="dropbtn">Timetable</button>
  <button class="dropbtn">Travelcards & tickets</button>
  <button class="dropbtn">Station & services</button>
  <button class="dropbtn">Leisure & holidays</button>
  <button class="dropbtn">Help & contact</button>
</div>
<div class="search-section">
  <form class="example-form">
    <sbb-form-field class="sbb-form-field-long">
      <input sbbInput placeholder="From" />
    </sbb-form-field>
    <sbb-form-field class="sbb-form-field-long">
      <input sbbInput placeholder="To" />
    </sbb-form-field>
    <button type="button" sbb-button [disabled]="false" class="search-button">
      Search for connection
    </button>
  </form>
</div>
<img src="../assets/images/sbb-home.png" />
<div>
  <h1 style="text-align: center">Current Topics</h1>
  <div class="row">
    <div class="column">
      <div class="card">
        <img
          src="https://cdn.img.sbb.ch/content/dam/internet/sharedimages/zug/Schienen_Bahnhof_Drohne.jpg?w=774&h=504&auto=format,compress,cs=tinysrgb&q=30"
          width="100%"
          alt=""
        />
        <div class="card-content">
          <h3>Operations & disruptions.</h3>
          <p>
            Here you can find round-the-clock updates on the current service
            situation on the Swiss rail network and information on any
            disruptions.
          </p>
          <div style="padding: 16px 0px 0px 16px">
            <a href="#" sbb-link>More Information</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img
          src="https://cdn.img.sbb.ch/content/dam/internet/sharedimages/home/Berg-See-Zug.jpg?w=387&h=252&auto=format,compress,cs=tinysrgb&q=45"
          width="100%"
          alt=""
        />
        <div class="card-content">
          <h3>Personalised leisure offers.</h3>
          <p>
            Select your interests in your user account and you’ll receive offers
            to suit you. Spas, events, nature and much more besides: the choice
            is yours.
          </p>
          <div style="padding: 16px 0px 0px 16px">
            <a href="#" sbb-link>More Information</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img
          src="https://cdn.img.sbb.ch/content/dam/internet/sharedimages/zug/natur-bruecke-zug.jpg?crop=focalpoint&fp-x=0.4923033&fp-y=0.36301368&fp-z=1&w=387&h=252&auto=format,compress,cs=tinysrgb&q=45"
          width="100%"
          alt=""
        />
        <div class="card-content">
          <h3>Climate-friendly and sustainable travel: by train.</h3>
          <p>
            Whether travelling at night or during the day, on a day out or on
            holiday: get inspired by our tips for sustainable travel.
          </p>
          <div style="padding: 16px 0px 0px 16px">
            <a href="#" sbb-link>More Information</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img
          src="https://cdn.img.sbb.ch/content/dam/internet/sharedimages/zug/Giruno.jpg?w=774&h=504&auto=format,compress,cs=tinysrgb&q=30"
          width="100%"
          alt=""
        />
        <div class="card-content">
          <h3>Rail travel to other European countries in coronavirus times.</h3>
          <p>
            Train trips abroad can be booked with a few restrictions in the
            timetable. You will find information on travel.
          </p>
          <div style="padding: 16px 0px 0px 16px">
            <a href="#" sbb-link>More Information</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <h1 style="text-align: center">Ideas for spring-like moments.</h1>
</div>
<div style="margin: 0 20vw">
  <app-design-pattern></app-design-pattern>
</div>
